<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head') %>
</head>
<body>

<div class="main-wrapper">

  <%- include('partials/sidebar', { active }) %>

  <div class="page-wrapper">
    <%- include('partials/header') %>

    <div class="content container-fluid">
      <%- include('../' + page) %>
    </div>

  </div>
</div>

<%- include('partials/scripts') %>
</body>
</html>
